<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>黑洞11.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞12.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞13.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞14.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞15.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞16.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞17.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞18.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>黑洞19.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Blackhole1.png</string>
			<key>realTextureFileName</key>
			<string>Blackhole1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>